@charset "UTF-8";

/*
    Paleta de Cores

    fonte: #74876d - #543d3c - #6e3b22

    degrade: #d48ccb - #d39795  
    
    
    
    
    */

    @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

    * {

        margin: 0px;
        padding: 0px;

        box-sizing: border-box;
    }

    body, html {

        font-family: "AudioWide" ;
        height: 100vh;
        width: 100vw;
       

    }

    header {
       
        text-align: center;
        background-image: linear-gradient(to bottom, #db2fc4 5%, #d486ca, #d39795);
       
        
        color: #543d3c;
        font-size: 1.8em;
        box-shadow: 3px;      
        padding: 15px;

    }

    header > p {

        font-size: 0.8em;
    }

    main#imagem {
        
        width: 100vw;
        height: 100vh;
        background-image: url(../imagens/genterosa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
     
    }

    main{

        position: relative;
        height: 100vh;
        width: 100vw;

    }

    section#login {

        background-color: rgba(255, 255, 255, 0.141);
        width: 250px;
        height: 500px;
        border-radius: 20px;

        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        overflow: hidden;

        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.601);

    }

    div#formulario {

        display: block;
        padding: 10px;
    }

    div#celula {
        background-color: rgba(0, 0, 0, 0);
       
        height: 200px;
        height: 200px;

        background-image: url(../imagens/celulavermelhapeq.png);
        background-size: cover;
        background-position: center;
        display: block;

    }


    footer {
    
        padding: 10px;
        text-align: center;
        border: 2px solid black;
        background-color: black;
        color: #d48ccb;
    }

    footer, a{

        text-decoration: none;
        color: #d48ccb;
    }

    footer, a:hover {

        color: #d816be;
    }

    